{% extends "index.html" %}

{% block content %}
    <div>
        <section>
            <div class="categories">
                <header>
                    <h1>Nasza misja to:</h1>
                    <p>Kompleksowe świadczenie usług medycznych na najwyższym poziomie przez profesjonalną kadrę. </p>
                </header>
                <div class="author">
                    <figure>
                        <a href="#"><img src="../static/img/leki.jpg" alt="Alan Watts"></a>
                        <figcaption>Leki i recepty</figcaption>
                    </figure>
                </div>
                <div class="author">
                    <figure>
                        <a href="wpis.html"><img src="../static/img/szczep.jpg" alt="Anthony de Mello"></a>
                        <figcaption>Szczepionki COVID-19</figcaption>
                    </figure>
                </div>
                <div class="author">
                    <figure>
                        <a href="#"><img src="../static/img/przychodnia1.jpg" alt="Fryderyk Nietzsche"></a>
                        <figcaption>O nas</figcaption>
                    </figure>
                </div>
                <div class="author">
                    <figure>
                        <a href="#"><img src="../static/img/certy.jpg" alt="Platon"></a>
                        <figcaption> Nasze certyfikaty</figcaption>
                    </figure>
                </div>
                <div class="author">
                    <figure>
                        <a href="#"><img src="../static/img/kontakt.jpg" alt="Immanuel Kant"></a>
                        <figcaption>Kontakt</figcaption>
                    </figure>
                </div>
                <div class="author">
                    <figure>
                        <a href="#"><img src="../static/img/inter.jpg" alt="Ralph Waldo Emerson"></a>
                        <figcaption>e-Przychodnia</figcaption>
                    </figure>
                </div>
            </div>
        </section>

        <section id="newest">
            <div class="entries">
                <header>
                    <h1>Dlaczego warto skorzystać z naszych usług?</h1>
                </header>
                <div class="entry">
                    <div class="entryimg">
                        <img src="../static/img/przychodnia.jpg" alt="Anthony de Mello">
                    </div>
                    <div class="entrytxt">
                        <h2>Innowacyjna obsługa pacjenta</h2>
                        <p>Oferujemy swoim pacjentom wysoką jakość
                            oraz innowacyjność rozwiązań</p>
                    </div>
                </div>
                <div class="entry">
                    <div class="entryimg">
                        <img src="../static/img/inter.jpg" alt="Anthony de Mello">
                    </div>
                    <div class="entrytxt">
                        <h2>Blisko Ciebie</h2>
                        <p>Przychodnia w Kielcach</p>
                    </div>
                </div>
                <div class="entry">
                    <div class="entryimg">
                        <img src="../static/img/konon.jpg" alt="Anthony de Mello">
                    </div>
                    <div class="entrytxt">
                        <h2>Doświadczeni specjaliści</h2>
                        <p>Dysponujemy nowoczesnym sprzętem oraz doświadczony zespołem specjalistów </p>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="contact">
                <header>
                    <h1>Kontakt z przychodnią</h1>
                    <p>Jeśli masz jakieś pytania lub zastrzeżenia to zapraszam do kontaktu telefonicznego: 777 888
                        999</p>
                </header>
                <a href="#" class="bluebutton">Kontakt</a>
            </div>
        </section>
    </div>
{% endblock %}

