{% extends "index.html" %}

{% block content %}
    <div class="container my_gap">
        <h2 style="text-align: center">Umówione wizyty</h2>
    </div>
    <div class="container">
        <div class="row">
            {% for visit in visit_list %}
                <div class="col-sm-6 my_gap">
                    	<div class="card" style="width: 18rem;">
                      	<div class="card-body">
                            <h5 class="card-title" style="color: black">{{visit[1]}} {{visit[2]}}</h5>
                            <p class="card-text" style="color: black">
                                Wizyta: {{ visit.date }}</p>
                            <p class="card-text" style="color: black">
                                Numer telefonu: {{ visit[3] }}</p>
                      	</div>
                    	</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
