{% extends "index.html" %}

{% block content %}
    <div class="container my_gap">
        <h2 style="text-align: center">Umówione wizyty</h2>
    </div>
    <div class="container">
        <div class="row">
            {% for doctor in visit_list %}
                <div class="col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title" style="color: black">{{ doctor.patient[0].name }} {{ doctor.patient[0].surname}}</h5>
                            <p class="card-text" style="color: black">
                                Wizyta: {{ doctor.patient.date }}</p>
                            <p class="card-text" style="color: black">
                                Numer telefonu: {{ doctor.patient[0].phone }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
